.ingTextHold {
    left: 2.5rem;
    position: relative;
    gap: 9rem;
    margin-top: 1rem;
}

.zoom2{
    transition: all 400ms ease;
}

.zoom2:hover{
    transform: scale(1.2);
}
.img{
    width: 150px;
}