.ourBestSellersImg {
    width: 19rem !important;
    object-fit: contain !important;
}

.ourBestSellersMainParent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 85px;
    position: relative;
    margin-top: 3rem;
    min-height: 1800px;
    justify-content: center;
}

.itemPagination {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemPagination .pagination.pagination-lg > li > a
{
    background-color: white;
    color: #dc3545;
}

.itemPagination .pagination.pagination-lg > li > a:focus,
.itemPagination .pagination.pagination-lg > li > a:hover,
.itemPagination .pagination.pagination-lg > li > span:focus,
.itemPagination .pagination.pagination-lg > li > span:hover
{
    /* color: red; */
    background-color: #eee;
    border-color: #ddd;
}

.itemPagination .pagination.pagination-lg > .active > span
{
    color: white;
    background-color: #dc3545 !Important;
    border: solid 1px #dc3545 !Important;
}

.itemPagination .pagination.pagination-lg > .active > span:hover
{
    background-color: #dc3545 !Important;
    border: solid 1px #dc3545;
}

:root{
    --p: 293 194% 8% !important;
    --pf: 293 194% 8%  !important;

}


.zoom{
    transition: all 360ms ease;
}

.zoom:hover{
    transform: scale(1.08);
}

.fof{
    font-family: Arapey, Helvetica, Arial, sans-serif;
    
}