.wrapper {
    margin-left: 6rem;
    margin-right: 6rem;
}

@media (max-width : 990px) {
    .wrapper {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media (max-width : 500px) {
    .wrapper {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

